<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add student</title>
</head>
<body>
<form method="POST" th:action="@{/students-page}" th:object="${student}">
    <label>
        Name:
        <input id="name-input" required th:field="*{name}"/>
    </label>
    <label>
        Czesne:
        <input id="czesne-input" name="czasne-input" type="number" placeholder="1570" required th:field="*{czesne}"/>
    </label>
    <label>
        Unit:
        <select id="unit-input" name="unit" required th:field="*{unit}">
            <option th:each="studentUnit : ${T(com.example.monday.resource.StudentUnit).values()}"
                    th:value="${studentUnit}" th:text="${studentUnit}">
            </option>
        </select>
    </label>
    <label>
        Semester:
        <select id="semester-input" name="semester" required th:field="*{semester}">
            <option th:each="semester : ${T(com.example.monday.resource.Semester).values()}"
                    th:value="${semester}" th:text="${semester}">
            </option>
        </select>
    </label>
    <button type="submit">add</button>
</form>

</body>
</html>