<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
<!--    dołączenie pliku css do stylowania projektu, przez thymeleafowy znacznik
wskazuje na to początek th: - pozostała część href mówi nam, że odnosimy się do referencji pliku
zapis z @{} oznacza, że podajemy adres do rozwiązania przez thymeleaf w docelowym pliku html
jaki zostanie zwrócony do klienta/użytkownika -->
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="title">
    <h2>List of students</h2>
</div>
<div class="main">
<table>
    <tr>
        <th>Name</th>
        <th>Municipality</th>
        <th>Czesne</th>
        <th>Semester</th>
        <th>Index</th>
        <th>Action</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.czesne}"></td>
        <td th:text="${student.semester}"></td>
        <td th:text="${student.index}"></td>
        <td><a th:href="@{/students-page/edit/{studentId} (studentId=${student.id})}"><button type="button">edit</button></a></td>
    </tr>
</table>
<a th:href="@{/students-page/add}" class="add">+</a><br>
<a th:href="@{/students-page/bySemester}" class="button">search students by semester</a><br>
<a th:href="@{/students-page/byCzesne}" class="button2">search students by czesne</a><br>
</div>
</body>
<footer th:insert="footer.html"></footer>
</html>
