<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
<!--    dołączenie pliku css do stylowania projektu, przez thymeleafowy znacznik
wskazuje na to początek th: - pozostała część href mówi nam, że odnosimy się do referencji pliku
zapis z @{} oznacza, że podajemy adres do rozwiązania przez thymeleaf w docelowym pliku html
jaki zostanie zwrócony do klienta/użytkownika -->
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="title">
    <h2>List of students</h2>
</div>
<table>
    <tbody>
<!--    konstrukcja forEach w thymeleaf realizowana jest przez znacznik th:each, a dalej zapis wygląda jak w forEach w javie
dzięki temu zapisowi powstanie wiersz dla każdego studenta z kolumnami zdefiniowanymi poniżej-->
    <tr th:each="student : ${students}">
<!--        możemy teraz odwoływać się do wartości przechowywanych w obiekcie student i wyświetlić je na froncie-->

        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.czesne}"></td>
        <td th:text="${student.semester}"></td>
        <td th:text="${student.index}"></td>
        <td><a th:href="@{/students-page/edit/{studentId} (studentId=${student.id})}"><button type="button">edit</button></a></td>
    </tr>
    </tbody>
</table>
<!--kolejne zastosowanie th:href - tym razem jest to odwołanie do adresu w naszej aplikacji.
o przeniesienie nas na nowy adres zadba znacznik <a>, a zwrócenie odpowiedniego pliku html będzie obsłużone przez kontroler-->
<a th:href="@{/students-page/add}">add new student</a><br>
<a th:href="@{/students-page/bySemester}">search students by semester</a><br>
</body>
<footer th:insert="footer.html"></footer>
</html>
