<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="title">
    <h2>List of Students</h2>
</div>
<div class="main">
<table>
    <tr>
        <th>Name</th>
        <th>Municipality</th>
        <th>Czesne</th>
        <th>Semester</th>
        <th>Index</th>
<!--        <th>Action</th>-->
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.czesne}+' zł'"></td>
        <td th:text="${student.semester}"></td>
        <td th:text="'s'+${student.index}"></td>
        <td><a th:href="@{/students-page/edit/{studentId} (studentId=${student.id})}"><img src="/img/edit.png" class="edit" alt="edit"></a></td>
    </tr>
</table>
<a th:href="@{/students-page/add}" class="add">+</a><br>
<a th:href="@{/students-page/bySemester}" class="button">search students by semester</a><br>
<a th:href="@{/students-page/byCzesne}" class="button2">search students by czesne</a><br>
</div>
</body>
<footer>
    <p>kozikowski.karol03@gmail.com | s27092@pjwstk.edu.pl</p>
    <br><p>+48 668 334 029</p>
    <small>&copy 2023 - 2024 | Karol Kozikowski</small>
</footer>
</html>
