@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --main_blue: #7487AC;
    --main_blue_light: #96AACD;
    --light_blue: #A6C6E3;
    --greenish: #5ca287;
    --thevoid: #1C1E27;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--main_blue);
    background-image: url("./img/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0.1rem);
}
.main{
    background-color: var(--thevoid);
    position: absolute;
    left: 10vw;
    width: 80vw;
    top: 8vh;
    height: 80vh;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    transition: box-shadow 400ms;
}

.main:hover{
    box-shadow: 0 0 10px;
}
.title{
    background: var(--main_blue);
    position: absolute;
    left: 2vw;
    width: 96vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: 0 0 5px;
    transition-property: box-shadow;
    transition-duration: 400ms;
}
.title2{
    background: var(--greenish);
    position: absolute;
    left: 2vw;
    width: 96vw;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: 0 0 5px;
    transition-property: box-shadow;
    transition-duration: 400ms;
}
.title h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    cursor: default;
}
.title2 h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    cursor: default;
}
.title:hover{
    box-shadow: 1px 2px 10px;
}
.title2:hover{
    box-shadow: 1px 2px 10px;
}
table{
    width: 78vw;
    margin-left: 1vw;
    margin-top: 2vh;
    background-color: var(--main_blue);
    border: 2px solid var(--main_blue);
    margin-bottom: 20px;
}
th{
    background-color: var(--light_blue);
    color: var(--thevoid);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    width: 15vw;
    padding: 7px;
    border-bottom: 2px solid var(--main_blue);
}
td{
    background-color: var(--main_blue_light);
    text-align: center;
    color: var(--thevoid);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    transition: background-color 200ms;
}
tr:hover td{
    background-color: #899cc0;
}
.add{
    background-color: #229b4c;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 3px 7px;
    border-radius: 50px;
    margin-left: 20px;
    transition: background-color 200ms;
}
.add:hover{
    background-color: #2b8035;
}
.button{
    position: absolute;
    background-color: #7e6730;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight:600;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    right: 20px;
    margin-top: -20px;
    transition: background-color 200ms;
}
.button:hover{
    background-color: #9a7d38;
}
.button2{
    position: absolute;
    background-color: #7e6730;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight:600;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    right: 270px;
    margin-top: -38px;
    transition: background-color 200ms;
}
.edit{
    position: absolute;
    margin-left: -256px;
    margin-top: -256px;
    scale: 4.5%;
    opacity: 70%;
    transition: opacity 200ms;
}
.edit:hover{
    opacity: 100%;
}
.button2:hover{
    background-color: #9a7d38;
}
footer{
    background-color: var(--main_blue);
    color: white;
    position: absolute;
    left: 2vw;
    bottom: 0;
    width: 96vw;
    text-align: center;
    border: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    cursor: default;
    opacity: 70%;
    transition: opacity 500ms 100ms;
}
footer:hover{
    opacity: 100%;
}
footer p{
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    text-align: left;
    padding-left: 20px;
}
footer h3{
    position: absolute;
    text-align: left;
    padding-left: 20px;
}
input{
    background-color: var(--thevoid);
    border: 2px solid var(--main_blue);
    border-radius: 20px;
    transition: border 200ms;
    color: white;
    text-align: center;
}
input:hover{
    border: 2px solid #26ce35;
}
select{
    background-color: var(--thevoid);
    border: 2px solid var(--main_blue);
    border-radius: 20px;
    transition: border 200ms;
    color: white;
    text-align: center;
    cursor: pointer;
}
select:hover{
    border: 2px solid #26ce35;
}
.save{
    position: absolute;
    background-color: var(--greenish);
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight:600;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    right: 20px;
    transition: background-color 200ms;
    cursor: pointer;
}
.save:hover{
    background-color: #437761;
}
.search{
    background-color: var(--main_blue_light);
    position: absolute;
    padding: 5px 10px;
    border: 5px solid var(--main_blue);
    border-radius: 25px;
    color: var(--thevoid);
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight:700;
    font-style: normal;
    margin-left: 20px;
}
.search button{
    position: absolute;
    background-color: var(--greenish);
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight:600;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    margin-top: -5px;
    margin-left: 25px;
    cursor: pointer;
    transition: background-color 200ms;
}
.search button:hover{
    background-color: #437761;
}
.return{
    position: absolute;
    background-color: var(--greenish);
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight:600;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    left: 20px;
    transition: background-color 200ms;
    cursor: pointer;
}
.return:hover{
    background-color: #437761;
}